.general {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 43, 43);
  height: 100vh;
}

.square{
  background-color: rgb(29, 29, 29);
  margin-top: 8.7rem;
  margin-bottom: 3rem;
  margin-left: 90px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 105vh;
  box-shadow: 0px 0px 70px 6px black;
}

.square ul{
  margin-left: 6rem;
}
.square p {
  color: white;
  font-size: 1.2rem;
} 

.square h1{
  color: green;
  margin-block: 1rem;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.formulario {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.formulario h1{
  color: green;
  font-size: 2.5rem;
}

form {
  grid: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

input, select {
  display: flex;
  height: 3.5rem;
  width: 19rem;
  border: 1px solid grey;
  border-radius: 5px;
  margin-block: 15px;
  outline: hidden;
  transition: 3ms;
  font-size: 1.2rem;
}

input:focus{
  outline: none;
}

select:focus{
  outline: none;
}

input:hover {
  background-color: lightgray;
  transform: scale(1.05);
}
select:hover {
  background-color: lightgray;
  transform: scale(1.1);
}



button {
  background-color: green;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  height: 3.5rem;
  width: 19rem;
}

button:hover {
  border: 1px solid green;
  background-color: black;
  transform: scale(1.1);
  color: green;
}

.secsquare{
  background-color: rgb(29, 29, 29);
  border-radius: 35px;
  margin-top: 12.7rem;
  height: 55vh;
  width: 45vh;
  margin-left: 6rem;
  box-shadow: 0px 0px 70px 6px black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}